funasr==1.1.14
modelscope==1.18.0
pytorch-wpe==0.0.1
torch==2.8.0
torchaudio==2.8.0
scikit-learn==1.6.1
pywebview==6.2.1
soundfile==0.13.1
sounddevice==0.5.5
numpy==2.0.2
imageio-ffmpeg==0.6.0
python-docx==1.2.0
reportlab==5.0.0
